$bcgr-main:#f2f2f2;
$color-main:#333;

/*---popcircles---*/
$popcircles-bcgr-main:#16222A;
$popcircles-bcgr-menu-main:#3A6073;
$popcircles-bcgr-menu-sub:#1b3645;
$popcircles-color-main:#f3f3f3;
// $lnk-color:#34B47E
