@import 'colors';
@import 'popcircles';
@import 'throwdiscs';

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color: $bcgr-main;
  color: $color-main;
  font-family:'Open Sans', sans-serif;
}
.menu-tittle{
  padding:15px;
  display: inline-block;
}

.pop-circles{
  background-color: $popcircles-bcgr-main;
  color: $popcircles-color-main;
  min-height:600px;
}

.throw-disc{
  background-color: $throwdisc-bcgr-main;
  color: $throwdisc-color-main;
  min-height:600px;
  overflow: hidden;
}
