@import 'xburger';
@import 'colors';
@import 'popcircles';
@import 'throwdiscs';


*{
  box-sizing: border-box;
  margin:0;
  padding:0;
    // scroll-behavior: smooth;
}

body{
  background-color: $bcgr-main;
  color: $color-main;
  font-family:'Open Sans', sans-serif;
}
.menu-tittle{
  padding:15px;
  display: inline-block;
}

header{
  height: 100vh;
  .xburger-menu-container{
    background-color: $xburg-bcg;
  }
}

#pop-circles{
  background-color: $popcircles-bcgr-main;
  color: $popcircles-color-main;
  min-height:100vh;
}

#throw-disc{
  background-color: $throwdisc-bcgr-main;
  color: $throwdisc-color-main;
  // height:100vh;
  height:333px;
  overflow: hidden;
}

#about{
  height:100vh;
  background-color: $popcircles-bcgr-main;
}
